<?xml version="1.0"?>
<configuration>
	<appSettings>
		<clear/>
		<!--********************************底层PCIE需配置的参数项********************************-->
		<!--采样率-->
		<add key="SampleRate" value="186660000"/>

		<!--回放采样率-->
		<add key="ReplaySampleRate" value="186660000"/>

		<!--********************************采集链路存储参数********************************-->
		<!--时钟源 true为内采样 false为外采样-->
		<add key="ClockRef" value="true"/>
		<!--单包文件存储大小-->
		<add key="SignalFileSize" value="512"/>
		<!--文件存储路径-->
		<add key="FileCatalog" value="E:\testdata\bin\"/>
		<!--存储文件前缀名-->
		<add key="PrefixFileName" value="signalwave"/>
		<!--存储文件名-->
		<add key="UsrFileName" value=""/>
		<!--采集模式 true为存储  false 为示波器模式不存储-->
		<add key="ifSaveEnable" value="false"/>

		<!--********************************采集链路参数配置*************************************-->
		<!--射频输入中心频率-->
		<add key="finValue" value="500.0"/>
		<!--射频链路增益-->
		<add key="RfGainValue" value="40"/>
		<!--中频滤波器-->
		<add key="iffValue" value="210"/>
		<!--ADC-->
		<add key="adcValue" value="210.0"/>
		<!--宽带时域-->
		<add key="btdValue" value="0"/>
		<!--时域加窗-->
		<add key="tdValue" value="120"/>
		<!--FFT变换-->
		<add key="fftLength" value="10"/>
		<!--最大保持   config_spectKeep.cs 中的配置参数-->
		<add key="maxValue" value="1024"/>
		<!--频谱平均 config_spectAvg.cs 中的参数配置-->
		<add key="FreqAvg" value="1024"/>
		<!--频率抽取   config_spectExtract.cs 中的配置参数-->
		<add key="fsExtractValue" value="128"/>
		<!--config_spectLighting.cs中的配置参数-->
		<!--余晖衰退因子-->
		<add key="DecayDivisor" value="0"/>
		<!--余晖保持次数-->
		<add key="KeepNum" value="1000"/>
		<!--FFT步进点数-->
		<add key="FftStepPoint" value="4096"/>
		<!--频宽-->
		<add key="FreqWidth" value="0"/>
		<!--倒谱使能-->
		<add key="ifCepstrumEnable" value="true"/>
		<add key="IQSwapEnable" value="0"/>

		<!--DDC1中心频率偏移-->
		<add key="ddc1CentralValue" value="0"/>
		<!--DDC2中心频率偏移-->
		<add key="ddc2CentralValue" value="0"/>
		<!--DDC3中心频率偏移-->
		<add key="ddc3CentralValue" value="0"/>
		<!--DDC4中心频率偏移-->
		<add key="ddc4CentralValue" value="0"/>
		<!--DDC5中心频率偏移-->
		<add key="ddc5CentralValue" value="0"/>
		<!--DDC6中心频率偏移-->
		<add key="ddc6CentralValue" value="0"/>
		<!--DDC 带宽-->
		<add key="DDCBoundWith" value="3200,400,400,400,400,400"/>
		<!--DDC1 FIR/CIC抽取-->
		<add key="ddc1FirValue" value="16"/>
		<!--DDC1 FIR/CIC抽取-->
		<add key="ddc1FirValue" value="16"/>
		<!--DDC2 FIR/CIC抽取-->
		<add key="ddc2FirValue" value="16"/>
		<!--DDC3 FIR/CIC抽取-->
		<add key="ddc3FirValue" value="16"/>
		<!--DDC4 FIR/CIC抽取-->
		<add key="ddc4FirValue" value="16"/>
		<!--DDC5 FIR/CIC抽取-->
		<add key="ddc5FirValue" value="16"/>
		<!--DDC6 FIR/CIC抽取-->
		<add key="ddc6FirValue" value="16"/>
		<!--DDC1 ½FIR抽取滤波-->
		<add key="ddc1Fir2Value" value="0"/>
		<!--DDC2 ½FIR抽取滤波-->
		<add key="ddc2Fir2Value" value="0"/>
		<!--DDC3 ½FIR抽取滤波-->
		<add key="ddc3Fir2Value" value="0"/>
		<!--DDC4 ½FIR抽取滤波-->
		<add key="ddc4Fir2Value" value="0"/>
		<!--DDC5 ½FIR抽取滤波-->
		<add key="ddc5Fir2Value" value="0"/>
		<!--DDC6 ½FIR抽取滤波-->
		<add key="ddc6Fir2Value" value="0"/>
		<!--DDC1输出-->
		<add key="ddc1OutValue" value="0"/>
		<!--DDC2输出-->
		<add key="ddc2OutValue" value="0"/>
		<!--DDC3输出-->
		<add key="ddc3OutValue" value="0"/>
		<!--DDC4输出-->
		<add key="ddc4OutValue" value="0"/>
		<!--DDC5输出-->
		<add key="ddc5OutValue" value="0"/>
		<!--DDC6输出-->
		<add key="ddc6OutValue" value="0"/>
		<!--总的传输速率-->
		<add key="totalValue" value="0"/>
		<!--FFT最大保持使能-->
		<add key="KDFFtEnable" value="0"/>
		<!--FFT抽取-->
		<add key="KDExtract" value="0"/>
		<!--余晖-->
		<add key="YHEnable" value="0"/>

		<!--I路直流偏置-->
		<add key="DCIOffset" value="0"/>
		<!--Q路直流偏置-->
		<add key="DCQOffset" value="0"/>



		<!--********************************回放链路参数配置*************************************-->
		<!--KHz为单位-->
		<!--½FIR/CIC插值滤波-->
		<add key="firValue" value="0"/>
		<!--DAC-->
		<add key="dacValue" value="0"/>
		<!--中频滤波器-->
		<add key="iff2Value" value="0"/>
		<!--射频输出中心频率-->
		<add key="RePlayFreq1" value="1000000"/>
		<add key="RePlayFreq2" value="1000000"/>
		<!--发送链路增益-->
		<add key="RePlayAtt1" value="0"/>
		<add key="RePlayAtt2" value="0"/>
		<!--回放链路时钟参考源-->
		<add key="PBClockRef" value="true"/>
		<!--输出通道1是否使能-->
		<add key="outCh1Enable" value="0"/>
		<!--输出通道2是否使能-->
		<add key="outCh2Enable" value="0"/>
		<!--突发次数-->
		<add key="SendCnt" value="0"/>
		<!--突发间隔-->
		<add key="SendInterval" value="0"/>
		<!--DAC时钟-->
		<add key="DACClock" value="203.4"/>

		<!--********************************系统配置参数*************************************-->

		<!--数据回放模式-->
		<add key="ReplaySignalMode" value="0"/>
		<!--工作模式选择 DAC/DDC  0 DA  1 DDC -->
		<add key="dout_sel" value="1"/>
		<!--其他-->
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<!--回放参数配置-->
		<!--单位为MHz-->
		<add key="WBSampRate" value="307.2"/>
		<add key="NBSampRate" value="186.66"/>
		<!--ftp文件夹路径前缀-->
		<add key="FTPFilePath" value="E:\"/>
		<!--本地IP地址-->
		<add key="LocalIP" value="192.168.10.69"/>
        <!--****算法使能开关.0:禁止；1：使能****-->
        <add key="EnALG" value="1"/>
        <!--****DUC开关，控制回放的符号位转换格式，0：禁止；1：使能****-->
        <add key="EnDUC" value="0"/>
        <!--****单文件缓存后回放使能，0：禁止；1：使能****-->
        <add key="EnSim" value="1"/>
        <!--****ADC用户寄存器****-->
        <!--ADC用户寄存器基地址-->
        <add key="AdcBaseAddr" value="0x800F0000"/>
        <!--DDC模块触发一次请求的点数,16进制-->
        <add key="DdcPulseUnit" value="0x4000"/>
        <!--ADC用户寄存器0~31,16进制-->
        <add key="AdcUsrReg[0]" value="0x00000000"/>
        <!--AdcUsrReg[1] bit[0]必须是1，bit[2]在配置寄存器时设置为0，在QTStoreData之后配置为1使能数据输出-->
        <add key="AdcUsrReg[1]" value="0x00000001"/>
        <add key="AdcUsrReg[2]" value="0x00000003"/>
        <add key="AdcUsrReg[3]" value="0x0F000402"/>
        <add key="AdcUsrReg[4]" value="0x00000000"/>
        <add key="AdcUsrReg[5]" value="0x00000000"/>
        <add key="AdcUsrReg[6]" value="0x00040050"/>
        <add key="AdcUsrReg[7]" value="0x00000000"/>
        <add key="AdcUsrReg[8]" value="0x00011170"/>
        <add key="AdcUsrReg[9]" value="0x20000000"/>
        <add key="AdcUsrReg[10]" value="0x00000000"/>
        <add key="AdcUsrReg[11]" value="0x00000000"/>
        <add key="AdcUsrReg[12]" value="0x00000000"/>
        <add key="AdcUsrReg[13]" value="0x00000000"/>
        <add key="AdcUsrReg[14]" value="0x00000000"/>
        <add key="AdcUsrReg[15]" value="0x00000000"/>
        <add key="AdcUsrReg[16]" value="0x00000000"/>
        <add key="AdcUsrReg[17]" value="0x00000000"/>
        <add key="AdcUsrReg[18]" value="0x00000000"/>
        <add key="AdcUsrReg[19]" value="0x00000000"/>
        <add key="AdcUsrReg[20]" value="0x00000000"/>
        <add key="AdcUsrReg[21]" value="0x00000000"/>
        <add key="AdcUsrReg[22]" value="0x00000000"/>
        <add key="AdcUsrReg[23]" value="0x00000000"/>
        <add key="AdcUsrReg[24]" value="0x00000000"/>
        <add key="AdcUsrReg[25]" value="0x00000000"/>
        <add key="AdcUsrReg[26]" value="0x00000000"/>
        <add key="AdcUsrReg[27]" value="0x00000000"/>
        <add key="AdcUsrReg[28]" value="0x00000000"/>
        <add key="AdcUsrReg[29]" value="0x00000000"/>
        <add key="AdcUsrReg[30]" value="0x00000000"/>
        <add key="AdcUsrReg[31]" value="0x00000000"/>
        <!--DAC用户寄存器基地址-->
        <add key="DacBaseAddr" value="0x800E0000"/>
        <!--DUC模块触发一次请求的点数,16进制-->
        <add key="DucPulseUnit" value="0x800"/>
        <!--DAC用户寄存器0~31,16进制-->
        <add key="DacUsrReg[0]" value="0x00000000"/>
        <!--DacUsrReg[1]传输512MB数据量之后配置为0x1D-->
        <add key="DacUsrReg[1]" value="0x00000000"/>
        <add key="DacUsrReg[2]" value="0x000047AE"/>
        <add key="DacUsrReg[3]" value="0x11EB47AE"/>
        <add key="DacUsrReg[4]" value="0x23D647AE"/>
        <add key="DacUsrReg[5]" value="0x35C147AE"/>
        <add key="DacUsrReg[6]" value="0x00000100"/>
        <add key="DacUsrReg[7]" value="0x00040004"/>
        <add key="DacUsrReg[8]" value="0x00000000"/>
        <add key="DacUsrReg[9]" value="0x00000000"/>
        <add key="DacUsrReg[10]" value="0x11011170"/>
        <add key="DacUsrReg[11]" value="0x00000000"/>
        <add key="DacUsrReg[12]" value="0x00000000"/>
        <add key="DacUsrReg[13]" value="0x00000000"/>
        <add key="DacUsrReg[14]" value="0x00000000"/>
        <add key="DacUsrReg[15]" value="0x00000000"/>
        <add key="DacUsrReg[16]" value="0x00000000"/>
        <add key="DacUsrReg[17]" value="0x00000000"/>
        <add key="DacUsrReg[18]" value="0x00000000"/>
        <add key="DacUsrReg[19]" value="0x00000000"/>
        <add key="DacUsrReg[20]" value="0x00000000"/>
        <add key="DacUsrReg[21]" value="0x00000000"/>
        <add key="DacUsrReg[22]" value="0x00000000"/>
        <add key="DacUsrReg[23]" value="0x00000000"/>
        <add key="DacUsrReg[24]" value="0x00000000"/>
        <add key="DacUsrReg[25]" value="0x00000000"/>
        <add key="DacUsrReg[26]" value="0x00000000"/>
        <add key="DacUsrReg[27]" value="0x00000000"/>
        <add key="DacUsrReg[28]" value="0x00000000"/>
        <add key="DacUsrReg[29]" value="0x00000000"/>
        <add key="DacUsrReg[30]" value="0x00000000"/>
        <add key="DacUsrReg[31]" value="0x00000000"/>
        <add key="ClientSettingsProvider.ServiceUri" value=""/>


	</appSettings>
</configuration>
